.price::before{
    content: '$';
    margin-right:0.2em;
}

/*
.price::before{
  content: "\0024";
}

*/


.product-name{
    min-height: 5rem;
}
.product-card{
    text-decoration: none;
    color: inherit;
}
.product-card:hover{
    text-decoration: none;
    color: inherit;
}
.search-form{
    max-width: 400px;
}

.overlay-container{
     height:300px;
     overflow: hidden;
 }

.overlay-container > img{
    height:200px;
    width:200px;
    overflow: hidden;
}