<!DOCTYPE html>

<html lang="en">

{% include 'partials/heading.twig' %}

			{% include 'partials/navigation.twig' %}	

    <body class="front no-trans">

	
			

							<h1 class="page-title">About Us</h1>
							<div class="separator-2"></div>

							<div class="row">
								<div class="col-md-6">
									<p>As the leading online fashion and sports retailer in Australia and New Zealand, we are here to define the future of retail. We are a bunch of style-savvy, creative, and forward-thinking individuals with a dream to create a better shopping experience for you; maybe one you haven't even imagined yet.</p>
                                    <p>Since launching in 2016, T4Uhas focused on channeling the latest technology to provide unrivaled access to more than 1,000 local and international brands and a huge 60,000 fashion and sports products for men and women.</p>
                                    <p>Attracting more than 12 million visits per month, T4U sets the bar in Australian retail by offering an unparalleled selection of brands paired with unmatched service. We launch 200+ new products daily to keep you on top of the latest styles right through the season, and we work hard to deliver them to you with the best delivery options around, such as 3-hour delivery in Sydney, same day delivery to Melbourne, Brisbane and Adelaide and free overnight around the country, plus risk-free free returns.</p>
                                    <p>T4U is also known for the world class technology we build to deliver Australia & New Zealand's best online shopping experience.</p>
                                    <p>At T4U we are not afraid to supersede the status quo and innovate. We believe that the best cultures are fun, infectious, electric, ambitious and tenacious. And the outcome of all that - a daily mission to make shopping a dream for you.</p>
                                    <p>Fortunately we are not alone - T4U has become part of the Global Fashion Group, the world's leader in online fashion for emerging markets.</p>
                                    									
									<ul class="list-icons">
                                        <li>At T4U :</li>
										<li class="object-non-visible" data-animation-effect="fadeInUpSmall"><i class="icon-check"></i> We focus on our customers</li>
										<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="icon-check"></i> Our service is a primary concern</li>
										<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300"><i class="icon-check"></i> We change your online experience so shopping has never been easier</li>
										<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="500"><i class="icon-check"></i> Easy and simple tracsactions. HASSLE FREE!</li>
									</ul>
								</div>

								<aside class="sidebar col-md-6">
									<div class="side vertical-divider-left">
										<div class="block clearfix">
											<h3 class="title margin-top-clear">Be part of us</h3>
											<div class="embed-responsive embed-responsive-16by9">
												<img src="about-us-image/About-Us-Image2.jpg">
											</div>
										</div>
									</div>
								</aside>
							</div>
						</div>
					</div>
				</div>
			</section>

			<div class="section clearfix">
				<div class="container">
					<h2>More We Do at T4U</h2>
					<div class="separator-2"></div>
					<p class="lead">Wng adults to reach their potential.<br><br>To help those in need? YES, we'll help!</p>
				</div>
            </div>
			
		{% include 'includes/footer.twig' %}
      {% include 'includes/scripts.twig' %}
	</body>
</html>
