<footer id="footer">
				<div class="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="footer-content">
									<div>T-Shirts For You</div>
									<div class="row">
										<div class="col-md-6">
											<p>T4U is website based ecommerce platform to buy and sell t-shirts. It offers individual storefront and functions to enable transactions online</p>
											<ul class="social-links circle">
												<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
												<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
												<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
											</ul>
										</div>
										<div class="col-md-6">
											<ul class="list-icons">
												<li><i class="fa fa-map-marker pr-10"></i>Lidcombe, New South Wales </li>
												<li><i class="fa fa-phone pr-10"></i>0421748735</li>
												<li><i class="fa fa-fax pr-10"></i> ++37210704239 </li>
												<li><i class="fa fa-envelope-o pr-10"></i> team@t4u.com</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="subfooter">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<p>Copyright © 2016. All Rights Reserved.<b>By TechWarriors.</b></p>
							</div>

						
						</div>
					</div>
                </div>
			</footer>