<!DOCTYPE html>

<html>

        {% include 'partials/heading.twig' %}
	
    
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">


 
    

   <body>
	
			
			<div class="nav-menu">
				{% include 'partials/navigation.twig' %}
			</div>
			

							<h1 class="page-title">About Us</h1>
							<div class="separator-2"></div>

							<div class="row">
								<div class="col-md-6">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    									
									<ul class="list-icons">
                                        <h3>At BookMonkey </h3>
										<li class="object-non-visible" data-animation-effect="fadeInUpSmall"><i class="icon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
										<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="icon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
										<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300"><i class="icon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
										<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="500"><i class="icon-check"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
									</ul>
								</div>

								<aside class="sidebar col-md-6">
									<div class="side vertical-divider-left">
										<div class="block clearfix">
											<h3 class="title margin-top-clear">Be part of us</h3>
											<div class="embed-responsive embed-responsive-16by9">
												<img src="images/products/karnali.jpg">
											</div>
										</div>
									</div>
								</aside>
							</div>
						</div>
					</div>
				</div>
			</section>

			<div class="section clearfix">
				<div class="container">
					<h2>More We Do at BookMonkey</h2>
					<div class="separator-2"></div>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
				</div>
            </div>
			
	{% include 'partials/footer.twig' %}
        {% include 'partials/javascript.twig' %}

        </div>
	</body>
</html>
