<!DOCTYPE html>

<html>

        {% include 'partials/heading.twig' %}
	
    
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="css/style.css">

   <body>
			
			<div class="nav-menu">
				{% include 'partials/navigation.twig' %}
			</div>
			

							<h1 class="page-title">About Us</h1>
							<div class="separator-2"></div>

							<div class="row">
								<div class="col-md-6">
									<p></p>
                                    <p>BookMonkey was established in 2019 october with a misson to provide easy access of popular Nepali novels to readers in Australia. </p>
                                    <p>We are an online business and have a large collection of books in our warehouse.</p>
                                    <p>All of our books are of market released fineprint and reasonably priced.</p>
                                    									
									<ul class="list-icons">
                                        <h3>At BookMonkey </h3>
										<li> Customer satisfaction is our top priority.</li>
										<li> With easy site layout, shopping had never been easier.</li>
										<li> We gurantee fine quality and low price.</li>
										<li> We value our customers, we are ready to assist you.</li>
									</ul>
								</div>

								<aside class="sidebar col-md-6">
									<div class="side vertical-divider-left">
										<div class="block clearfix">
											<h3 class="title margin-top-clear">Be part of us</h3>
											<div class="img">
												<img src="images/products/karnali.jpg">
											</div>
										</div>
									</div>
								</aside>
							</div>
						</div>
					</div>
				</div>
			</section>

			<div class="section clearfix">
				<div class="container">
					<h2>More We Do at BookMonkey</h2>
					<div class="separator-2"></div>
					<p class="lead">All of our team members are continuously working to assist our customers and source the popular on demand Novels directly from Nepali market. </p>
				</div>
            </div>
			
	{% include 'partials/footer.twig' %}
        

        </div>
	</body>
</html>
