<!DOCTYPE html>
<html>

	{% include 'partials/heading.twig' %}


	
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	
	<link rel="stylesheet" type="text/css" href="css/contactstyle.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

<body>
	
{% include 'partials/navigation.twig' %}
		
		<main>
			<div class="contact-form">
			    <div class="contact-us">
			        <h2>Contact Us</h2>
			        <p>Swing by our store, or leave us a message:</p>
			    </div>
			    <div class="row">
			        <div class="column">
							
						<div class="gmap_canvas">
							<iframe id="gmap_canvas"
								src="https://maps.google.com/maps?q=C_Get Computer Center Pvt. Ltd.&t=&z=16&ie=UTF8&iwloc=&output=embed"
								height= "412px" width= "100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
							</iframe>
						</div>
			        </div>
			        <div class="column">
			            <form action="contactUs.php" method="post">
			                <label for="name">Name</label>
			                <input type="text" id="name" name="name" placeholder="Your name..">
			                <label for="email">Email</label>
			                <input type="text" id="email" name="email" placeholder="Your email..">
			                <label for="message">Message</label>
			                <textarea id="message" name="message" placeholder="Write something.." style="height:160px"></textarea>
			                <input type="submit" name="submit" value="Submit">


			            </form>
						{% if response %}
							<div class="alert alert-success">
								{{response}}
							</div>
						{%endif%}
			        </div>
			    </div>
			</div>
		</main>
		
			
		
	</div>	
</body>
{% include 'partials/footer.twig' %}
</html>